/* ::-webkit-scrollbar {    
    width: 0px;
    height: 0px;
} */
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background: var(--lightpink);
}
 
::-webkit-scrollbar-thumb {
    background: var(--yellow);
}
 
::-webkit-scrollbar-thumb:hover {
    background: var(--nude);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 242, 237);
    overflow-x: hidden;
}
