/* ::-webkit-scrollbar {    
    width: 0px;
    height: 0px;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 242, 237);
    overflow-x: hidden;
}

.navBarMain {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    height: 15vh;
    width: 100%;
    background-color: var(--yellow);    
    font-family: 'Raleway', sans-serif;
    /* position: fixed; */
}

.navBarMain 
.navLeft {
    display: flex;
    align-items: center;
}

.navBarMain 
.navLeft svg {
    font-size: 2.5rem;
    margin-right: 6px;
    color: var(--blue);
}

.navBarMain 
.navLeft 
.navLogo {
    font-family: 'Young Serif', serif;
    font-size: 2.2rem;
    text-decoration: none;
    color: var(--blue);

    display: flex;
    align-items: center;
}

.navBarMain 
.navSearchForm {
    display: flex;
    width: 40.625rem;
    height: 2.813rem;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
}

.navBarMain 
.navSearchForm 
.dropdownMenu {
    width: 5rem;
    background-color: var(--beige);
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0.438rem;
    font-size: 0.9rem;
    /*-webkit-appearance: none; /* WebKit */
    /*-moz-appearance: none; /* Mozilla */
    /*-o-appearance: none; /* Opera */
    /*-ms-appearance: none; /* Internet Explorer */
    /*appearance: none; /* CSS3 */
}

.searchField {
    width: 100%;
    border: none;
    outline: none;
    padding: 0.438rem;
    font-size: 1rem;
}

.searchBtn {
    width: 3.75rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--beige);
}
.searchBtn svg {
    font-size: 1.5rem;
}

.navBarMain
.navRight {
    display: flex;
}

.navBarMain
.navRight
.navRightUl {
    display: flex;
    text-align: center;  
    font-weight: 500;
}

.navLogin,
.navCart {
    margin: 0.313rem;
    padding: 0.188rem;
    width: 5vw;
    cursor: pointer;
    list-style: none;
    font-size: 1rem;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
}

.navLogin:hover,
.navCart:hover {
    background-color: var(--lightgray);
}

.navLogin svg,
.navCart svg {
    font-size: 1.8rem;
}

.navLogin a,
.navCart a {
    text-decoration: none;
    color: var(--navy);
}

.dividingLineNav {
    height: 30px;
    background-color: var(--beige);
}

/* Responsividade */
@media (max-width: 1055px) {
    .navBarMain 
    .navSearchForm {
        width: auto;
    }
}
@media (max-width: 976px) {

    .navBarMain {
        height: auto;
        display: grid;
        grid-template-columns: 1fr 6fr 0fr repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .navLeft {
        grid-area: 1 / 2 / 2 / 3;
    } 
    .navSearchForm {
        grid-area: 2 / 2 / 3 / 5;
        margin-bottom: 1.25rem;
    }
    .navRight {
        grid-area: 1 / 4 / 2 / 5;
        justify-content: flex-end;
    }
}
@media (max-width: 780px) {
    
    /* html {
        font-size: 87.5%;   
    }   */

    .navLeft, 
    .navSearchForm,
    .navRight {
        width: 100%;
    }

    .navBarMain 
    .navSearchForm {
        width: auto;
    }

    .navBarMain 
    .navLeft 
    .navLogo {
        font-size: 1.8rem;
    }

    .navLogin a,
    .navCart a {
        display: none;
    }

    .navLogo {
        width: 100%;
    }

}
@media (max-width: 500px) {
    .navLogin, 
    .navCart {
        margin-right: 20px;
    }

    header {
        width: 100vw;
    }

    .searchField {
        font-size: 0.9rem;
    }
}

.containerHome
.banner {
    height: 20vh;
    width: 100vw;
    background-color: black;
    color: #fff;
}

.containerHome
.maisVendidos {
    background-color: var(--blue);
    height: 20vh;
}

.containerHome 
.newsletter {
    background-color: var(--beige);
    height: 50vh;
    padding: 20px 100px;
    display: flex;
    align-items: center;
} 

.containerHome 
.newsletter h3 {
    font-size: 2rem;
    font-family: 'Young Serif', serif;
    font-weight: 100;
    width: 50vw;
}

.containerHome 
.newsletter 
.newsletterForm {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.newsletter 
.newsletterForm p {
    margin-bottom: 25px;
    line-height: 2rem;
}

.containerInput {
    display: flex;
}

.newsletterForm 
.emailField {
    font-size: 0.9rem;
    background-color: var(--beige);
    padding: 0.438rem 0.438rem 0.438rem 0;
    width: 60%;
    border: 1px solid var(--navy);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: none;
    font-family: 'Ubuntu', sans-serif;
}
.newsletterForm 
.newsletterBtn {
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9rem;
    background-color: var(--beige);
    font-weight: 500;
    border: 1px solid var(--navy);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    cursor: pointer;

    display: flex;
    align-items: center;
    padding: 0.438rem 0rem 0.438rem 0.438rem;
}

.newsletterForm 
.newsletterBtn span {
    padding-right: 5px;
}

@media (max-width: 1055px) {
    .newsletterForm 
    .emailField {
        width: 100%;
    }    

    .containerHome 
    .newsletter h3 {
        padding-right: 20px;
    }
}

@media (max-width: 780px) {
    .containerHome 
    .newsletter {
        height: 80vh;
        flex-direction: column;
        justify-content: center;
    }

    .containerHome 
    .newsletter h3 {
        text-align: center;
        padding-bottom: 35px;
        padding-right: 0;
    }
}

@media (max-width: 500px) {   
    .containerHome 
    .newsletter {
        height: 100vh;
    }

    .containerHome >
    .banner, .maisVendidos{
        width: 100vw;
    }
}

.footer
.dividingLine {
    height: 15px;
    width: 100vw;
    background-color: var(--navy);
}

.mainFooter {
    /* height: 330px; */
    width: 100vw;
    background-color: var(--yellow);
    border-bottom: 1px solid var(--lightgray);

    display: flex;
    padding: 50px;
    align-items: baseline;
}

.mainFooter
.logoFooter 
.logo {
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Young Serif', serif;
    font-size: 2.2rem;
    text-decoration: none;
    color: var(--blue);
}

.mainFooter
.logoFooter svg {
    font-size: 2.5rem;
    margin-right: 6px;
    color: var(--blue);
}

.mainFooter
.infoFooter {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.footerWrapper {
    width: 15vw;
}
.footerWrapper h2 {
    padding-bottom: 1rem;
    font-family: 'Young Serif', serif;
    font-weight: 100;
    color: var(--navy);
}
.footerWrapper ul {
    list-style-type: none;  
    line-height: 1.8;
}
.footerWrapper ul li a {
    text-decoration: none;
    font-size: 0.850rem;
    color: var(--navy);
}
.footerWrapper ul li a:hover {
    font-weight: bold;
}

.secondaryFooter {
    height: 18vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    background-color: var(--yellow);
    color: var(--navy);
}

.secondaryFooter
.socialLogos {
    display: flex;
    gap: 1.875rem;
}

.socialItem {
    font-size: 1.5rem;
    color: var(--blue);
}

@media (max-width: 1015px) {
    
    .mainFooter {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .mainFooter
    .infoFooter {
        grid-template-columns: repeat(4, 1.5fr);
        grid-template-rows: 1fr;
        grid-column-gap: 70px;
        grid-row-gap: 20px;
    }

    .mainFooter
    .logoFooter 
    .logo {
        margin-bottom: 30px;
    }
}

@media (max-width: 780px) {

    .mainFooter {
        padding-bottom: 30px;
    }

    .mainFooter
    .logoFooter 
    .logo {
        font-size: 2rem;
        width: auto;
    }

    .mainFooter
    .infoFooter {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 25px;
        grid-row-gap: 25px;
    }
    
    .footerWrapper {
        width: 28vw;
    }
}

@media (max-width: 500px) {

    .mainFooter {
        align-items: stretch;
    }
    
    .secondaryFooter {
        width: 100vw;
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }

    .footerWrapper {
        width: 36vw;
    }
}