.bestSellers {
    width: 100%;
    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 100px;
}

.title {
    text-align: center;
    margin: 30px 0;
    padding-top: 20px;
    font-family: 'Young Serif', serif;
    font-size: 2rem;
    font-weight: 100;
}

.slideBook {
    cursor: grab;
    overflow: hidden;
    text-align: center;
    margin: 0.6rem;
    padding: 0.6rem;
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    transition: .2s all ease-in-out;
    margin: 0.6rem;
    padding: 0.6rem 0.6rem 0.8rem 0.6rem;
    cursor: pointer;
}

.inner:hover {
    box-shadow: 0 0 10px #4d364b8f;
} 

.inner:hover .slideBookBtn {
    background: var(--blue);
    color: var(--branco);
}

.slideImg {
    height: 350px;
    padding: 0 14px;
    display: block;
}

.slideBookInfo {
    min-height: 7rem;
    padding-top: 1rem;
}

.slideBookTitle {
    font-size: 0.8rem;
    padding-bottom: 0.3rem;
}

.slideBookAutor {
    font-size: 0.8rem;
    font-weight: lighter;
}

.slideBookPrice {
    padding: 1rem 0rem;
    color: var(--gray);
}

.slideBookBtn {
    box-sizing: border-box;
    text-decoration: none;
    padding: 10px 4.4rem;
    border: 1px solid var(--blue);
    border-radius: 5px;
    color: var(--blue);
    transition: .2s all ease-in-out;
    font-weight: 500;

    width: 85%; /* Ajuste para o tamanho desejado */
    height: 40px; /* Ajuste para o tamanho desejado */
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideBookBtn svg {
    font-size: 1.5rem;
}

@media (max-width: 1400px) {

 .bestSellers {
    height: 115vh;
 }  
}

@media (max-width: 1330px) {
    
    .slideBookBtn {
        width: 80%;
    }
}

@media (max-width: 803px) {

    .inner:hover {
        box-shadow: none;
    } 
    .slideBookBtn {
        width: 45%;
    }
    
}
@media (max-width: 506px) {

    .bestSellers {
        padding: 0;
    }

    .slideBookBtn {
        width: 65%;
    }
}