.downloadApp {
    background-color: var(--beige);
}

.downloadAppWrap {
    height: 130vh;
    display: flex;
    align-items: center;
    /* padding: 20px 100px; */

}

.downloadAppTelefone {
    display: flex;
    justify-content: flex-end;
    width: 50vw;
}

.downloadAppTelefone img {
    /* width: 100%; */
    height: 75vh; 
}

.downloadAppInfo {
    width: 50vw;
    margin: 10rem 0rem 10rem 5rem;
    padding-right: 11rem;
}

.downloadAppInfo h2 {
    font-size: 3rem;
    font-weight: 500;
}

.downloadAppInfo p {
    padding-top: 2.8em;
    line-height: 1.8;
}

.apps {
    height: 10vh;
}

.apps img{
    cursor: pointer;
    width: 11vw;
}

.googlePlay {
    margin-right: 7px;
}

@media (max-width: 1330px) {
   
    .downloadAppInfo {
        padding-right: 8rem;
    }
    .apps img {
        width: 15vw;
    }
    
}
@media (max-width: 993px) {
    
    .downloadAppInfo h2 {
        font-size: 2.5rem;
    }
}