.downloadApp {
    background-color: var(--lightpink);
}

.downloadAppWrap {
    display: flex;
    align-items: center;
}

.downloadAppTelefone {
    display: flex;
    justify-content: flex-end;
    width: 50vw;
}

.downloadAppTelefone img {
    height: 75vh; 
}

.downloadAppInfo {
    width: 50vw;
    margin: 10rem 0rem 10rem 5rem;
    padding-right: 20rem;
}

.downloadAppInfo h2 {
    font-size: 3rem;
    font-weight: 500;
    color: var(--preto);
}

.downloadAppInfo p {
    padding-top: 2.8em;
    line-height: 1.8;
    font-family: 'Ubuntu', sans-serif;
    color: var(--gray);
    font-weight: 300;
}

.apps {
    display: flex;
}

.apps img{
    cursor: pointer;
    width: 11vw;
}

.googlePlay {
    margin-right: 7px;
}

@media (max-width: 1330px) {
   
    .downloadAppInfo {
        padding-right: 8rem;
    }
    .apps img {
        width: 15vw;
    }
    
}
@media (max-width: 993px) {
    
    .downloadAppInfo h2 {
        font-size: 2.5rem;
    }

}

@media (max-width: 773px) {

    .downloadAppWrap {
        flex-direction: column;
    }
    
    .downloadAppTelefone {
        margin-top: 100px;
        justify-content: center;
    }

    .downloadAppInfo {
        width: auto;
        margin: 5rem 0rem 5rem 5rem;
        padding-right: 5rem;
        text-align: center;
    }

    .apps {
        justify-content: space-evenly;
    } 

    .apps img {
        width: 20vw;
    }
}

@media (max-width: 500px) {

    .downloadAppInfo h2 {
        font-size: 2rem;
    }
    
    .apps img {
        width: 30vw;
    }
}