.releaseContainer {
    width: 100%;
    /* height: 175vh; */
    background-color: var(--lightpink);
    margin: 0 auto;
    padding: 0 6.25rem;
    padding-top: 30px;
    padding-bottom: 2rem;
}

.title {
    text-align: center;
    padding: 50px 0;
    font-family: 'Young Serif', serif;
    font-size: 2rem;
    font-weight: lighter;
}

.releaseBooks {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;

    overflow: hidden;
    text-align: center;
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    transition: .2s all ease-in-out;
    margin: 0.6rem;
    padding: 0.6rem 0.6rem 0.8rem 0.6rem;
    cursor: pointer;
    width: 20vw;
}

.inner:hover {
    box-shadow: 0 0 10px #4d364b8f;
} 

.inner:hover .releaseBookBtn {
    background: var(--blue);
    color: var(--branco);
}

.releaseBookImg {
    padding: 0 14px;
    display: block;
    width: 17vw;
}

.releaseBookInfo {
    min-height: 7rem;
    padding-top: 1rem;
}

.releaseBookTitle {
    font-size: 0.9rem;
    padding-bottom: 0.3rem;
}

.releaseBookAutor {
    font-size: 0.8rem;
    font-weight: lighter;
}

.releaseBookPrice {
    padding: 1rem 0rem;
    color: var(--gray);
}

.releaseBookBtn {
    box-sizing: border-box;
    text-decoration: none;
    border: 1px solid var(--blue);
    border-radius: 5px;
    font-weight: 500;
    color: var(--blue);

    width: 85%; 
    height: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.releaseBookBtn svg {
    font-size: 1.5rem;
}

.viewMoreWrap {
    display: flex;
    justify-content: flex-end;
    padding: 3rem 3rem 4rem 3rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    color: var(--gray);
}

.viewMoreWrapWrap {
    display: flex;
    align-items: center;
}

.viewMoreWrapWrap:hover{
    cursor: pointer;
    color: var(--preto);
}

.viewMoreWrap p {
    padding-right: 0.5rem;
}

.viewMoreWrap p,
.viewMoreWrap svg {
    cursor: pointer;
}

.arrowIcon {
    transition: transform 0.8s ease;
}

.viewMoreWrapWrap:hover .arrowIcon {
    transform: translateX(10px);
}

@media (max-width: 1130px) {

    .releaseContainer {
        height: 100%;
        padding: 0 3rem;
    }

}

@media (max-width: 993px) {

    .releaseContainer {
        padding: 0 3.5rem;
    }

    .inner {
        margin: 2.6rem;
    } 

    .title {
        padding-bottom: 25px;
    }

    .releaseBookImg {
        width: 20vw;
    }

    .releaseBookBtn {
        font-size: 0.9rem;
    }

    .viewMoreWrap {
        justify-content: center;
    }
}

/* @media screen and (min-width: 790px) and (max-width: 993px) {
    .inner:hover {
        box-shadow: none;
    } 
} */
@media (max-width: 790px) {

    .releaseContainer {
        padding: 0px 4.5rem;
    }

    .inner:hover {
        box-shadow: none;
    } 

    .inner {
        margin: 5rem;
    } 

    .viewMoreWrap {
        border-top: 1px solid var(--lightgray);
    }
}

@media (max-width: 660px) {

    .releaseContainer {
        padding: 0px 3.5rem;
    }

    .inner {
        margin: 3rem 4rem;
    } 
}

@media (max-width: 506px) {
    
    .releaseContainer {
        padding: 0px 40px;
    }

    .releaseBooks {
        width: auto;
        align-items: center;
        flex-direction: column;
    }

    .inner {
        width: 33vw;
    }

    .releaseBookImg {
        width: 35vw;
    }


}