.slider {
    width: 100vw;
    background-color: var(--beige);
    color: black;
    padding: 80px;
}

.billboard {
    padding: 150px 120px; 
    cursor: grab;
    display: flex;
    align-items: center;
}

.bannerInfo {
    margin-right: 12.813rem;
}

.bannerInfo h2 {
    font-size: 4.5em;
    font-weight: 500;
    line-height: 1.4;
    margin: 25px 0;
}

.bannerInfo p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    line-height: 1.8;
    margin-bottom: 30px;
}

.bannerInfo 
.btnWrap {
    cursor: pointer;
    background-color: transparent;
}

.bannerInfo 
.billboardBtn {
    color: var(--nude);
    padding: 12px;
    border: 1px solid var(--nude);
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
}

.bannerInfo 
.billboardBtn:hover {
    color: var(--navy);
    border-color: var(--navy);
    transition: opacity 0.4s ease-in-out;
}

.billboardBtn svg {
    margin-left: 8px;
}

.slideImg {
    display: block;
    background-attachment: fixed;
    padding-left: 20px;
}

@media (max-width: 1330px) {
    
    .slider {
        padding: 80px 20px;
    }

    .billboard {
        padding: 100px 80px;
    }

    .bannerInfo {
        margin-right: 1rem;
    }
}

@media (max-width: 980px) {

    .billboard {
        padding: 150px 80px 60px 80px;
    }

    .bannerInfo {
        text-align: center;
        margin-top: 35px;
        font-size: 0.8rem;
    }

    .btnWrap {
        display: flex;
        justify-content: center;
    }
    
    .slideImg {
        padding-left: 0;
    }
}

@media (max-width: 788px) {
    
    .billboard {
        display: flex;
        flex-direction: column-reverse;
        align-items: stretch;
    }
}

@media (max-width: 718px) {

    .billboard {
        padding-left: 30px;
        padding-right: 30px;
    }

    .bannerInfo h2 {
        font-size: 3.5em;
    }

    .slideImg {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 506px) {  
    
    /* .slider {
        padding-top: 190px;
    } */

    .bannerInfo h2 {
        font-size: 2.5em;
    }

}