@import '../styles/variables';

.download-app {
    background-color: $lightpink;
}

.download-app-wrap {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 75px;
    padding: 6rem 0;
}

.download-app-telefone {
    display: flex;
    justify-content: flex-end;
    width: 50vw;
}

.download-app-info {
    width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-right: 20rem;
    h2 {
        font-size: 3rem;
        font-weight: 500;
        color: $preto; 
    }
    p {
        line-height: 1.8;
        font-family: 'Ubuntu', sans-serif;
        color: $gray;
        font-weight: 300;
    }
}

.apps {
    display: flex;
    img {
        cursor: pointer;
        width: 11vw;
    }
}

.google-play {
    margin-right: 7px;
}

@media (max-width: 1440px) {
    .download-app-wrap {
        gap: 50px;
    }
    .download-app-telefone {
        width: 45vw;
        img {
            height: 70vh; 
        } 
    }
    .download-app-info {
        gap: 1rem;
        padding-right: 10rem;
        h2 {
            font-size: 2.5rem;
        }
        p {
            font-size: 0.9rem;
        }
    }
}

@media (max-width: 1330px) {
    .download-app-telefone img {
        height: 75vh; 
    } 
    .download-app-info {
        padding-right: 8rem;
    }
    .apps img {
        width: 15vw;
    }
}
@media (max-width: 993px) {
    .download-app-telefone img {
        height: 65vh; 
    } 
    .download-app-info {
        h2 {
            font-size: 2.5rem;
        }
        p {
            font-size: 0.9rem;
        }
    }
}

@media (max-width: 773px) {
    .download-app-wrap {
        flex-direction: column-reverse;
        gap: 0px;
    }
    .download-app-telefone {
        margin: 0 0 7rem 0;
        justify-content: center;
    }
    .download-app-info {
        width: auto;
        margin: 5rem 0rem 2rem 5rem;
        padding-right: 5rem;
        text-align: center;
    }
    .apps {
        justify-content: space-evenly;
        gap: 1rem;
        img {
            width: 20vw;
        }
    } 
    .google-play {
        margin: 0px;
    }    
}

@media (max-width: 500px) {
    .download-app-info h2 {
        font-size: 2rem;
    }
    .apps img {
        width: 30vw;
    }
}