.main-footer {
  background-color: #F4E869;
  border-bottom: 1px solid #D8D9DA;
  display: flex;
  padding: 50px;
  align-items: baseline;
}

.main-footer .company-brand {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer .company-brand p {
  font-family: "Ubuntu", sans-serif;
  padding: 20px 70px;
  line-height: 1.8;
  color: #272829;
  text-align: justify;
}

.main-footer .company-brand .logo {
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Young Serif", serif;
  font-size: 2.2rem;
  text-decoration: none;
  color: #3085C3;
}

.main-footer .company-brand svg {
  font-size: 2.5rem;
  margin-right: 6px;
  color: #3085C3;
}

.main-footer .info-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.footer-wrapper {
  width: 15vw;
}

.footer-wrapper h2 {
  padding-bottom: 1rem;
  font-family: "Young Serif", serif;
  font-weight: 100;
  color: #272829;
}

.footer-wrapper ul {
  list-style-type: none;
  line-height: 1.8;
}

.footer-wrapper ul li a {
  text-decoration: none;
  font-size: 0.85rem;
  color: #272829;
}

.footer-wrapper ul li a:hover {
  font-weight: bold;
}

.secondary-footer {
  height: 18vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Raleway", sans-serif;
  background-color: #F4E869;
  color: #072541;
}

.secondary-footer p {
  margin-left: 3rem;
}

.secondary-footer .social-logos {
  display: flex;
  gap: 1.875rem;
  margin-right: 3rem;
}

.social-item {
  font-size: 1.5rem;
  color: #3085C3;
}

@media (max-width: 1115px) {
  .main-footer .company-brand p {
    padding: 20px 50px;
  }
}
@media (max-width: 1015px) {
  .main-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main-footer .info-footer {
    grid-template-columns: repeat(4, 1.5fr);
    grid-template-rows: 1fr;
    grid-column-gap: 70px;
    grid-row-gap: 20px;
  }
}
@media (max-width: 900px) {
  .main-footer .company-brand p {
    text-align: center;
  }
}
@media (max-width: 780px) {
  .main-footer {
    padding-bottom: 30px;
  }
  .main-footer .company-brand .logo {
    font-size: 2rem;
    width: auto;
  }
  .main-footer .info-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    text-align: center;
  }
  .footer-wrapper {
    width: 28vw;
  }
}
@media (max-width: 500px) {
  .main-footer .company-brand p {
    padding: 20px 10px;
    text-align: justify;
  }
  .main-footer .company-brand .logo {
    justify-content: flex-start;
  }
  .footer-wrapper {
    width: 36vw;
  }
  .secondary-footer {
    height: 20vh;
    width: 100vw;
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
  .secondary-footer p {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .secondary-footer .social-logos {
    margin-right: 0;
  }
}/*# sourceMappingURL=Footer.css.map */